@{ Layout = "_DashboardLayout"; }
@model EBookLibrary.DTOs.PagedResult<BookCardViewModel>
<div class="d-flex flex-row justify-content-around">

    <div class="card col-lg-9 box-shadow border-0 p-4">

        <div class="card-header border-0">
            <h5>
                List Of Books <a class="btn-sm btn-outline-success float-right " asp-action="AddBookView" asp-controller="Book">Add Books</a>
            </h5>

        </div>

        <div class="card-body">
            <table class="table table-borderless table-hover p-2">
                <thead>
                    <tr>
                        <th scope="col">Book Title</th>
                        <th scope="col"> Author</th>
                        <th scope="col">SubCategory</th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Result)
                    {

                        <tr>
                            <td>@item.Title</td>
                            <td>@item.Author</td>
                            <td>@item.Category</td>
                            <td class="justify-content-end">
                                <div class="btn-group" role="group" aria-label="">
                                   
                                        <a class="mr-3" asp-controller="Book" asp-action="UpdateMyBook" asp-route-id="@item.Id"><i class="fa fa-edit mr-2"></i></a>
                                    
                                        <form method="post" asp-action="DeleteBooks" asp-controller="Book">
                                            <input type="hidden" name="bookid" value="@item.Id" />
                                            <input type="submit" value="Delete" style="cursor:pointer;color:white; background:#0a0b4b; border: 0px solid transparent; padding:.3em; border-radius:.3em;">
                                        </form>


                                </div>
                            </td>
                        </tr>}
                </tbody>
                <tfoot>
                    <tr>
                        <td>

                            <div class="btn-group-lg">
                                <a  class="btn-sm btn-primary" asp-route-pageSize="@Model.PageSize" asp-route-pagenumber="@Model.PreviousPage" aria-current="page"><i class="fa fa-angle-double-left"></i> Prev</a>
                                <a class="btn-sm btn-primary" asp-route-pageSize="@Model.PageSize" asp-route-pagenumber="@Model.NextPage"><i class="fa fa-angle-double-right"></i>Next</a>
                            </div>
                        </td>

                    </tr>
                </tfoot>
            </table>
        </div>
    </div>


</div>